<!DOCTYPE html>
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary bg-primary sticky">
  <div class="container">
    <a href="https://www.ncsu.edu/" target='_blank'>
      <img src="http://media2.newsobserver.com/static/content/images/NCSU_logo.jpg" width="35" height="45" alt="NC STATE UNIVERSITY" />
    </a>
    <a style="margin-left: 15px" href="../" class="navbar-brand">Prashant <br> Tanksali</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">

          <a class="nav-link" href="/" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://nightlife-app-view.herokuapp.com/" target="_blank">Nightlife App</a>
        </li>
      </ul>

    </div>
  </div>
</div>